:root {
  --DarkCyan: #00838f;
  --TurkishRose: #bc658d;
  --Gunmetal: #2c333a;
  --ViridianGreen: #009ba2;
  --Magnolia: #f4f3fe;
  --White: #ffffff;
  --Gray: #f4f4f4;
  --Nunito: "Nunito", sans-serif;
  --Montserat: "Montserrat", sans-serif;
  --overlay: rgba(44, 51, 58, 0.2);
  --shadow: 0px -2px 8px rgba(0, 0, 0, 0.05), 0px 2px 8px rgba(0, 0, 0, 0.05);
}

.diversity_banner {
  margin-top: 120px;
}

.diversity_banner .frace h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 20px;
}

.diversity_banner .frace .rollin {
  margin-bottom: 5px;
}

.diversity_banner .frace .watch_snip {
  background-color: transparent;
  margin-top: 15px;
}

.diversity_banner .frace .watch_snip::before {
  content: url("../images/play_btn.svg");
  right: 10px;
  position: relative;
  top: 6px;
}

.pic_grid .grid_pic {
  display: -ms-grid;
  display: grid;
  gap: 5px;
}

.pic_grid .grid_pic img {
  -o-object-fit: cover;
     object-fit: cover;
}

.pic_grid .grid_pic .item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.pic_grid .grid_pic .item2 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.pic_grid .grid_pic .item3 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.pic_grid .grid_pic .item4 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.bysterling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.bysterling p {
  margin-right: 21px;
  margin-top: 11px;
}

.bysterling img {
  width: 120px;
}

.cyrac {
  background-color: var(--DarkCyan);
  border-radius: 5px;
  text-align: center;
  padding: 20px 40px;
  margin: 40px 0;
}

.cyrac h4 {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.cyrac h4,
.cyrac h1,
.cyrac p {
  color: var(--White);
}

.cyrac .learning_box {
  color: var(--White);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
  margin-top: 80px;
}

.cyrac .learning_box .numbers {
  margin-bottom: 20px;
  max-width: 170px;
  text-align: center;
}

.cyrac .learning_box .numbers p {
  text-align: center;
}

.tech_overview .purpose {
  margin-top: 80px;
}

.tech_overview .purpose h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.tech_overview .purpose p {
  max-width: 780px;
}

.participate {
  margin-top: 80px;
}

.participate h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 10px;
}

.p_box img {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}

@media (max-width: 480px) {
  .diversity_banner .frace h2 {
    font-size: 35px;
  }
}

@media (min-width: 480px) {
  .diversity_banner .frace button {
    max-width: 200px;
    margin-right: 10px;
  }
}

@media (min-width: 850px) {
  .diversity_banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .diversity_banner .frace {
    width: 45%;
  }
  .diversity_banner .pic_grid {
    width: 45%;
  }
}
/*# sourceMappingURL=diversity.css.map */